html{
    font-size: 62.5%;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.cabecalho{
    padding: 30px 15px;
    position: relative;

}
.logo{
    background: url(../images/logo.jpg) 
    center center
    no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}
.logo h1 { font-size:0 ;}

.cabecalho nav { 
    display: inline-block; 
    position: absolute;
    right: 0; 
    margin-top: 30px;
 }

.cabecalho ul li {
    display: inline-block; 
    padding: 15px;  
}

.cabecalho ul li a:hover{
    font-weight: bold; 
    color: #8E5B5A;
}

.painel{
    background: url(../images/painel.jpg) 
    center center no-repeat;
    height: 600px;
}

.painel h2{
    color: white; 
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative; 
    top: 50%; 
    transform: translateY(50%);
}

.secao-com-texto{
    padding: 153px; 
    text-align: center; 
    clear: both;
}
.secao-com-texto img{ 
    width: 170px;
    height: 170px; 
    margin-bottom: 37px;
}
 .secao-com-texto h2{
    font-size: 45px; 
    font-weight: 600; 
    margin-bottom: 37px;
 }
 .secao-com-texto p{ 
    font-size: 25px; 
    width: 700px;
    margin: 0 auto;
}

.secao-com-texto .ondeestamos{
    font-size: 20px;
}
p.texto-2{
    font-size: 45px; 
    padding-top: 20px;
}
.ladrilho div{
    float: left;
}

.ladrilho .foto-grande{
    background: url(/src/images/4.jpg) 
    center center no-repeat;
    height: 600px; 
    width: 50%;
}

.ladrilho .foto-pequena{
    background: url(/src/images/3.jpg) 
    center center no-repeat;
    height: 300px; 
    width: 25%;
}

.ladrilho .foto-pequena-2{
    background: url(/src/images/2.jpg) 
    center center no-repeat;
    height: 300px; 
    width: 25%;
}
.ladrilho .foto-media{
    background: url(/src/images/1.jpg) 
    center center no-repeat;
    height: 300px;
    width: 50%;
}

.contato{
    background: url(/src/images/fundo-contato.jpg) 
    center center no-repeat;
    height: 600px; 
    color: white; 
    position: relative;
}
.contato h2{
    font-size: 45px; 
    font-weight: 600; 
    padding-bottom: 35px;
}

.contato address{
    font-size: 25px; 
    font-weight: 600;
}

.contato .texto{
    position: absolute; 
    top: 30%; 
    left: 60%;
}

.rodape{
    background: url(/src/images/fundo-rodape.jpg) 
    center center no-repeat;
    padding: 35px 30px;
    background-size: cover ;
}

.rodape ul{
    float: right;
    margin-top: 30px;
}

.rodape ul li{
    display: inline-block;
    padding: 15px;
}

.rodape ul li a{
    color: white; 
}
.rodape ul li a:hover{
    font-weight: 900; 
    color: #8E5B5A;

}

.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram{
    
    width: 20px; 
    height: 20px;
    margin: 10px;
}
.rodape .redes-sociais{
    clear: both;
    float: right;
}

.rodape .copyright{
    color:white;
}
.rodape .conteudo-inferior{
    margin-top: 40px;
}